html,
body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line, .titles {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #121212;
}

.titles {
  background-color: rgb(149, 248, 235);
  border-top: 1px solid #121212;
}

.cell, .title {
  min-width: 300px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 3px;
}

.cell {
  min-height: 40px;
  cursor: pointer;
  &:hover {
    background-color: rgb(183, 230, 233);
  }
}

.success {
  background-color: rgb(61, 220, 40);
  .cell:hover {
    background-color: transparent;
  }
}

.item {
  width: 100%;
  height: 100%;
}